<%- include ("../partials/header") %>
<%- include ("../partials/main_nav") %>
<!--Content for the add page-->

<div class="container">
    <div class="row"> 
        <div class="col-md-offset-3 col-md-6">
            <!--Form for adding a new object to the database-->
            <h1 class="ticketTitle"> <%= title %></h1> <br><br>
            <form class="form" method="POST">
                <div class="form-group">
                    <!--Text field for name-->
                    <label for="nameTextField"> Name </label>
                    <input type="text" class=form-control 
                    id="nameTextField"
                    placeholder="Enter the name of the requestor"
                    name="name" required>
                </div>

                 <div class="form-group">
                    <!--text field for request details, set as a textarea-->
                    <label for="requestTextField"> Request Details </label>
                    <textarea type="text" class=form-control 
                    id="requestTextField"
                    placeholder="Enter the Request Details"
                    name="request" required></textarea>
                </div>

                 <div class="form-group">
                    <!--field for entering date-->
                    <!--when clicked on it will change the field from a text to a date entry-->
                    <label for="dateTextField"> Date Requested </label>
                    <input type="text" class=form-control 
                    id="dateTextField"
                    placeholder="Enter the Date of Request (YYYY/MM/DD)"
                    onfocus="(this.type='date')"
                    name="date" required>
                </div>

                 <div class="form-group">
                    <!--text field for entering a priority level-->
                    <label for="priorityTextField"> Priority </label>
                    <input type="text" class=form-control 
                    id="priorityTextField"
                    placeholder="Enter the Priority Level "
                    name="priority" required>
                </div>

                <div class="form-group">
                    <!--text field for entering a status-->
                    <label for="statusTextField"> Status </label>
                    <input type="text" class=form-control 
                    id="statusTextField"
                    placeholder="Enter the status of the Request "
                    name="status" required>
                </div>
                <br>
                <!--Submit button will add object to the database-->
                <button class="btn btn-primary" type="submit"> 
                    <i class="fas fa-edit"> </i> Submit 
                </button>
                <!--Cancel button will send the user back to the ticket page-->
                <a href="/tickets" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel </a>
            </form>
        </div>
    </div> 
</div> 
<%- include ("../partials/bottom_nav") %>
<%- include ("../partials/footer") %>
