<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    </div>
  </div>
</main>

<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>
